* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: 'Inter', sans-serif;
  --font-secundary: 'Nunito', sans-serif;

  --color-primary: #fd377e;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;

  --color-grey-4: #212529;
  --color-grey-3: #868e96;
  --color-grey-2: #e9ecef;
  --color-grey-1: #f8f9fa;
}

.empty__container {
  display: flex;
  justify-content: flex-start;
  width: 35rem;
  height: 5.4375rem;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  overflow: hidden;
  margin: 1rem 0;
}

.empty__indicator {
  background-color: var(--color-grey-2);
  height: 100%;
  width: 4px;
}

.empty__bars {
  margin-left: 0.6875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8125rem;
  width: 100%;
}

.top {
  background-color: var(--color-grey-2);
  width: 70%;
  height: 0.8125rem;
}

.bottom {
  background-color: var(--color-grey-2);
  width: 25%;
  height: 0.8125rem;
}

@media (max-width: 768px) {
  .empty__container {
    width: 100%;
  }
}
